[submodule "public"]
	path = public
	url = https://github.com/CollinErickson/CollinErickson.github.io.git
	branch = master
[submodule "CollinErickson.github.io"]
	path = CollinErickson.github.io
	url = git@github.com:CollinErickson/CollinErickson.github.io.git
